{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="form-container w-100 d-flex flex-column justify-content-center align-items-center" style="height:100vh;">

        <form class="form w-25 d-flex flex-column justify-content-center align-items-center" style="color:#fff;" method="post">

            <div class="form-group w-100"> 

            <label for="login-input-email" class="required active"><i class="fas fa-envelope mr-2"></i> Email</label>
                <input tabindex="1" id="login-input-email" type="email" class="form-control w-100" placeholder="Adresse Email" required name="_email">
            </div>

                <button tabindex="3" type="submit" class="btn btn-success w-100 m-0"><i class="fas fa-sign-in-alt mr-2"></i> Modifier mon mot de passe</button>

        </form>

    </div>

    <style>
        body
        {
            background-image: linear-gradient(to bottom, #6bba62, #52ae6b, #3ea272, #2f9576, #2a8776, #248078, #247979, #287177, #266e7b, #296b7e, #306780, #386380);
        }
    </style>

{% endblock %}