{% extends 'base.html.twig' %}

{% block body %}

    <div class="form-container w-100 d-flex justify-content-center align-items-center" style="height:100vh;">

        <form class="form w-25 d-flex flex-column justify-content-center align-items-center" style="color:#fff;" method="post" action="{{ path('security_login') }}">

            <div class="form-group w-100"> 

            <label for="login-input-email" class="required active"><i class="fas fa-envelope mr-2"></i> Email</label>
                <input tabindex="1" id="login-input-email" type="text" class="form-control w-100" placeholder="Adresse Email" required name="_username">
            </div>

            <div class="form-group w-100">

            <label for="login-input-password" class="required active"><i class="fas fa-unlock-alt mr-2"></i> Mot de passe</label>
                <input tabindex="2" id="login-input-password" type="password" class="form-control w-100" placeholder="Mot de passe" required name="_password">
            </div>

                <button tabindex="3" type="submit" class="btn btn-success w-100 m-0"><i class="fas fa-sign-in-alt mr-2"></i> Connexion</button>

                <a tabindex="4" href="{{ path('security_registration') }}" class="btn btn-warning w-100 m-0 mt-3" style="color: #fff"><i class="fas fa-user-edit mr-2"></i> Créer un compte</a>
        </form>

    </div>

    {% if error %}
        <div class="alert alert-danger w-100" style="position:absolute;top:50px;text-align:center;"><i class="fas fa-exclamation-triangle mr-2"></i>Email ou mot de passe invalide</div>
    {% endif %}

    <style>
        body
        {
            background-image: linear-gradient(to bottom, #6bba62, #52ae6b, #3ea272, #2f9576, #2a8776, #248078, #247979, #287177, #266e7b, #296b7e, #306780, #386380);
        }
    </style>

{% endblock %}