{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-danger" role="alert" style="margin-top:50px;display:flex;align-items:center;justify-content: center;">
        <i class="fas fa-exclamation-triangle mr-2"></i>Ce lien ne semble plus valide...  
    </div>

    <center style="margin-top: 150px;">
        <a tabindex="4" href="{{ path('smart_port') }}" class="btn btn-danger m-0 mt-3" style="color: #fff"><i class="fas fa-sign-out-alt mr-2"></i> Retour à l'accueil</a>
    </center>

    <style>
        body
        {
            background-image: linear-gradient(to bottom, #6bba62, #52ae6b, #3ea272, #2f9576, #2a8776, #248078, #247979, #287177, #266e7b, #296b7e, #306780, #386380);
        }
    </style>
{% endblock %}