@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap');

body {
    font-family: 'Chivo';
    background: #f2f2f2; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #363636;
}

.alert-success, .alert-danger:not(#modal-delete-account) {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.btn {
    margin: 0;
    text-transform: none;
    outline: none !important;
    box-shadow: none !important;
}

.btn:hover:not(.wmsBtn) {
    color: #fff !important;
}

/* navbar */
#navbar {
    position: fixed;
    top: 0;
    z-index: 4000;
    background: transparent;
    padding: 1rem;
    height: 50px;
    width: 100vw; 

    div {
        height: 50px;
        margin-right: 1rem !important;

        a {
            color: #fff;
            font-size: 110%;
            height: 30px;
            padding: 0.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a:hover {
            color: #363636;
            opacity: 0.7;
            text-decoration: none;
        }

        .dropdown-toggle {
            color: #fff;
            font-size: 110%;
            padding: 0.3rem !important; 
        }

        #profil-dropdown-menu {
            background-color: #363636;
            border-radius: .20rem;
            padding: 0.5rem;
            box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0.1);
            height: 95px;

            .dropdown-item {
                font-size: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        #profil-dropdown-menu::before {
            content: "";
            position: absolute;
            top: -7px;
            left: 60%;
            width: 17px;
            z-index: -1;
            height: 17px;
            transform: rotate(-315deg);
            border-radius: 3px;
            background-color: #363636;
        }
    }
}

.anim-not-loaded {
    animation-duration: 1.0s;
    animation-name: animMapLoader;
}

.not-loaded {
    visibility: hidden;
}

.loaded {
    visibility: visible;
}

.plyr {
    max-height: 55vh;
}     

/* keyFrames */
@keyframes animMapLoader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* media queries */
@media (max-width: 1500px) {
    #personnal-infos-container {
        width: 100% !important;
    }
    

}

@media (max-width: 1080px) {
    h1 {
        font-size: 1rem;
    }
}

@media (max-width: 575px) {
    .modal-dialog {
        margin: 0;
    }

    #user-connexion-image {
      width: 100% !important;
    }
}


