@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body 
{
    font-family: 'Manjari';
    background: #fff; 
    background-color: #47555E;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #363636;
}

#website-brand, #dropdown-brand
{
    font-family: 'Righteous';
    color: #5e5e5e;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    animation-name: slidein;
    animation-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#website-brand
{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin-top: 0;
    background: #363636 !important;
    color: #fff;
    letter-spacing:0.3em;
    margin-left: 50px;
}

#animation-logo
{
    position: absolute;
    top: 80px;
    animation-name: logo;
    animation-duration: 1s;
}

#navbar
{
    position: fixed;
    top: 0;
    z-index: 4000;
    background: #363636;
    padding: 1rem;
    height: 100vh;
    width: 50px; 
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    animation-duration: 1s;
    animation-name: slideout;
}

#navbar div a
{
    margin-top: 2rem;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar div a:hover
{
    background-color: #5e5e5e;
    opacity: 0.7;
}

#navbar div a:active
{
    background-color: #696969;
    opacity: 0.2;
}

#navbar div a i 
{
    color: #fff;
    font-size: 110%
}

#nav-icon3
{
    width: 100%;
    height: 20px;
    position: relative;
    cursor: pointer;
}
  
#nav-icon3 span
{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
}
  
#nav-icon3 span:nth-child(1) 
{
    top: 0px;
}
  
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) 
{
    top: 6px;
}
  
#nav-icon3 span:nth-child(4) 
{
    top: 12px;
}

#nav-dropdown
{
    position: fixed;
    top: 0;
    background: #fff;
    height: 100vh;
    padding: 1rem;
    z-index: 15000;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

#dropdown-content a
{
    color: rgb(34, 34, 34);
    font-size: 130%;
}

.dropdown-items:hover
{
    color: #535353;
    opacity: 0.5; 
}

#nav-dropdown-leaver
{
    position: absolute;
    right: 15px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 100%;
}

#nav-dropdown-leaver:hover{
    background: #a8a8a8;
    opacity: 0.8;
    color: #fff;
}

.dropdown-loaded
{
    animation-duration: 0.6s;
    animation-name: slideinDropdown;
}

.dropdown-not-loaded
{
    animation-duration: 0.6s;
    animation-name: slideoutDropdown;
}

.not-loaded
{
    visibility: hidden;
}

#diams-port-container{
    height: 60vh;
}

#cards-container
{
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(to right top, #e0e0e0, #e8e8e8, #efefef, #f7f7f7, #ffffff);
    clip-path: polygon(20% 0%, 80% 0%, 100% 15%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 15%);
}

.cards-background{
    z-index: 700 !important;
    background-color: #363636;
    padding: 1rem;
    border-radius: 50%;
}

#cards-absolute{
    position: absolute;
    top: 45vh;
    z-index: 10;
    width: 100%;
    color: #FFF;
}

#map 
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 97.5%;
}

@keyframes slideinDropdown {

    0% {
      transform: translateX(-357px);
    }  

    100% {
        transform: translateX(0px);
    }

}

@keyframes slideoutDropdown {

    0% {
        transform: translateX(0px); 
    }  

    100% {
        transform: translateX(-557px);
    }

}

#cards-container h1 {
    text-align: center;
    margin: 150px 50px 50px 50px;
}

#welcome-buttons button{
    border-radius: 5rem;
    border: 2px solid #363636;
}

@media (max-width: 1080px){

    #map 
    {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width:90%;
    }
}