@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap');

body {
    overflow: hidden !important;
    height: 100vh;
}

main {
  height: 100vh;
}

#navbar {
    display: none !important;
}


#map {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
}

.slider__container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 75px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 15px;
    z-index: 9998;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    background: #fff;
    border-radius: 0.25rem;
    padding: 0 1rem;
}

#slider__date {
    position: fixed;
    bottom: 57px;
    left: 40px;
    right: 80px;
    width: 200%;
    z-index: 9999;
}

#slider__next {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 75px;
    background-color: #363636;
    z-index: 99999;
    border-top-left-radius: .25rem;
    cursor: pointer;
}

#slider__next:hover {
    background-color: #666;
}


.slider-translate-1 {
    transform: translateX(-95vw);
    transition-property: transform;
    transition-duration: 0.6s;
}

.slider-translate-2 {
    transform: translateX(-107vw);
    transition-property: transform;
    transition-duration: 0.6s;
}

.noUi-value-sub {
    margin-top: 2px;
}

.tab-content {
    width: 98%;
    margin-left: 1rem;
}

.tab-pane {
    width: 100%;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #6bba26;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

#map__loader {
    height: 100vh;
    width: 100vw;
    background-color:#fff;
    z-index: 9999999;
    position: absolute;
    top: 0px;
    left: 0;
}

#layer__loader {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999999;
    position: absolute;
    top: 0px;
    left: 0;
}

.leaflet-popup {
    height: 46px;
}

.pop-up-poll-content {
    font-family: monospace;
    justify-content: center;
    width: 33px;
    margin: 0 .1rem;
    font-weight: 600;
    font-size: 120%;
    text-align: center;
}

.popup-polluant .leaflet-popup-tip-container {
    visibility: hidden;
}

.leaflet-control-attribution {
    background: transparent !important;
    font-family: 'Chivo';
    font-size: 10px;
    text-shadow: 0 0 4px black;
    color: #fff3e1;
}

.leaflet-control-attribution a {
    font-family: 'Chivo';
    font-size: 10px;
    text-shadow: 0 0 4px black;
    color: #fff3e1;
}

.leaflet-popup-content {
    margin:0rem;
}

table.table-sm th {
    padding: .2rem;
}

.leaflet-popup-content-wrapper {
    border-radius: .25rem;
    padding: 0 !important;
}

.leaflet-popup-close-button, .leaflet-control-velocity {
    visibility: hidden;
}

.popup__stations .leaflet-popup-tip-container {
    visibility: hidden;
}

.modal-dialog {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 100vh;
}

.modal-content {
    width: 500px;
    height: 100%;
}

.hidden {
    display: none !important;
}

.visible {
    display: flex !important;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.très_bon {
    color: rgb(50, 184, 163);
}

.bon1 {
    color: rgb(92, 203, 96);
}

.bon2 {
    color: rgb(153, 230, 0);
}

.bon3 {
    color: rgb(195, 240, 0);
}

.moyen {
    color: rgb(255, 255, 0);
}

.médiocre1 {
    color: rgb(255, 209, 0);
}

.médiocre2 {
    color: rgb(255, 170, 0);
}

.médiocre3 {
    color: rgb(255, 94, 0);
}

.mauvais {
    color: rgb(255, 0, 0);
}

.très_mauvais {
    color: rgb(128, 0, 0);
}

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
.single-chart {
    width: 50%;
    justify-content: space-around;
}

.circular-chart {
    margin: 0;
    margin-top: 5px;
    max-width: 100px;
    max-height: 90px;
}

.circle-bg {
    fill: none;
    stroke: #cacaca;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(.1, .1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

// getDataFromApiGeoloc CSS
.circular-chart.très_bon .circle {
    stroke: rgb(50, 184, 163);
}

.circular-chart.bon1 .circle {
    stroke: rgb(92, 203, 96);
}

.circular-chart.bon2 .circle {
    stroke: rgb(153, 230, 0);
}

.circular-chart.bon3 .circle {
    stroke: rgb(195, 240, 0);
}

.circular-chart.moyen .circle {
    stroke: rgb(255, 255, 0);
}

.circular-chart.médiocre1 .circle {
    stroke: rgb(255, 209, 0);
}

.circular-chart.médiocre2 .circle {
    stroke: rgb(255, 170, 0);
}

.circular-chart.médiocre3 .circle {
    stroke: rgb(255, 94, 0);
}

.circular-chart.mauvais .circle {
    stroke: rgb(255, 0, 0);
}

.circular-chart.très_mauvais .circle {
    stroke: rgb(128, 0, 0);
}

.percentage {
fill: #666;
font-family: sans-serif;
font-size: 0.5em;
text-anchor: middle;
}

.popup-apigeoloc .leaflet-popup-content-wrapper {
    border-radius: 50px;
}

.popup-apigeoloc .leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0 !important;
    width: 250px !important;
    height: 100px !important;
}

.leaflet-popup {
    margin-bottom: 10px !important;
}

#indice_air_quality {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: start;
    justify-content: start;
}

#indice_air_quality h7:last-child {
    font-size: 20px;
}
#indice_air_quality h7 {
    font-family: 'Chivo';
}

.popup-wind {
    position: relative;
    left: calc(50vw - 100px);
    top: calc(50vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(90, 86, 86, 0.64);
    border-radius: 200px;
    z-index: 99999;
    visibility: hidden;
}

.center-popup-wind {
    width: 7px;
    height: 7px;
    border: 1px solid rgba(90, 86, 86, 0.64);
    border-radius: 8px;
    background-color: rgba(90, 86, 86, 0.64);
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
}

.wind-value-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    z-index: 99999;
    width: 100px;
    -webkit-transition: .3s transform;
    transition: .3s transform;
    color: #444;
    background-color: rgba(90, 86, 86, 0.65);
    transform-origin: right;
}

.arrow-wind {
    width: 50px;
    height: 1px;
    color: #444;
    background-color: rgba(90, 86, 86, 0.65);
}

.value-wind {
    position: absolute;
    left: 0;
    z-index: 99999;
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: .25rem;
    color: #fff;
    background-color: rgba(216, 34, 34, 0.75);
    transform-origin: right;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}


// .leaflet-control-attribution {
//     background: transparent !important;
//     font-family: 'Chivo';
//     font-size: 10px;
//     text-shadow: 0 0 4px black;
//     color: #fff3e1;
// }

// .leaflet-control-attribution a {
//     font-family: 'Chivo';
//     font-size: 10px;
//     text-shadow: 0 0 4px black;
//     color: #fff3e1;
// }


  

// @keyframes spin {
//     0% {
//         transform: rotate(0deg);
//     }

//     100% {
//         transform: rotate(360deg);
//     }
// }

// @keyframes fadeIn {
//     to {
//         opacity: 1;
//     }
// }

// @keyframes s-ripple {
//     0% {
//         opacity: 0;
//         transform: scale(0);
//     }
//     20% {
//         transform: scale(1);
//     }
//     100% {
//         opacity: 0.01;
//         transform: scale(1);
//     }
// }

// @keyframes s-ripple-dup {
//    0% {
//        transform: scale(0);
//     }
//    30% {
//         transform: scale(1);
//     }
//     60% {
//         transform: scale(1);
//     }
//     100% {
//         transform: scale(1);
//     }
// }

// @media (max-width: 1200px) {

//     .leaflet-control-container .leaflet-top .leaflet-control-layers-expanded {
//         width: 230px !important;
//         padding: 0;
//     }

//     .leaflet-top.leaflet-right {
//         width: 155px;
//         left: 58px;
//     }

//     #wind-velocity-menu .leaflet-control {
//         width: 155px !important;
//     }

//     .wind-text-content {
//         font-size: 110%;
//     }

//     #search-results {
//         width: 300px;

//         #search-block input {
//             width: 60%;
//         }
//     }
// }

// @media (max-width: 750px) {

//     #add-mesures {
//       width: 75%;
//     }

//     .modal-dialog,
//     .modal-body {
//         max-width: 100% !important;
//     }

//     .charts-legend {
//         display: none;
//     }
// }

// .leaflet-control-layers-base label,
// .leaflet-control-layers-overlays label {
//     position: relative;
// }

// .leaflet-control-layers-base label div input, .leaflet-control-layers-overlays label div input {
//     position: absolute;
//     z-index: -1;
//     opacity: 0;
// }

// .radioCheck {
//     position: absolute;
//     top: 6px;
//     left: 0;
//     height: 20px;
//     width: 20px;
//     background: #cccccc;
//     border: 0px solid #000000;
//     border-radius: 50%;
// }

// .check {
//     position: absolute;
//     top: 6px;
//     left: 0;
//     height: 20px;
//     width: 20px;
//     background: #cccccc;
//     border: 0px solid #000000;
//     border-radius: 4px;
// }

// .leaflet-control-layers-base label:hover .radioCheck,
// .leaflet-control-layers-base label:focus .radioCheck,
// .leaflet-control-layers-overlays label:hover .check,
// .leaflet-control-layers-overlays label:hover .check {
//     background: #dbdbdb;
// }

// .leaflet-control-layers-base label div input:checked ~ span span .radioCheck,
// .leaflet-control-layers-overlays label div input:checked ~ span span .check {
//     animation: s-ripple-dup 250ms ease-out;
//     background: #3498db;
// }

// .leaflet-control-layers-base label div input:checked ~ span span .radioCheck::before {
//     position: absolute;
//     content: "";
//     top: auto;
//     left: 6px;
//     z-index: 99999;
//     width: 8px;
//     height: 8px;
//     border-radius: 50%;
//     background: #fff;
// }

// .leaflet-control-layers-overlays label div input:checked ~ span span .check::before {
//     position: absolute;
//     font-family: "Font Awesome 5 Free";
//     content: "\f00c";
//     top: auto;
//     left: 4px;
//     font-size: 80%;
//     z-index: 99999;
//     color: #fff;
// }

// #select__zone {
//     padding: .1rem;
//     border: 1px solid #dbdbdb;
//     border-radius: .25rem;
//     background-color: #fff;
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     z-index: 9999;
//     width: 18.5rem;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between;
//     box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 15px;
// }

// #container-select-echeance-wms {
//     width: 100%;
// }

// #select-date-input {
//     width: 70%;
// }

// #select-time-input {
//     width: 30%;
// }

