@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap');

footer {
    display: none;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

#navbar {
    visibility: hidden;
}

div[aria-haspopup="true"] {
    background: #fff;
    box-shadow: 0 .125rem .25rem rgb(102, 102, 102) !important;
}

.leaflet-control-layers-expanded {
    width: 230px !important;
    height: 100vh;
    border-radius: 5px !important;
    background-image: none !important;
    font-family: 'Chivo';
    font-weight: bolder;
    padding: 0;
}

.base-layers-choices {
    font-size: 140%;
    color: #727272;
    font-family: 'Chivo';
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #fff;
    padding-right: 1rem;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-left: 0;
}

.icons-container {
    background: transparent;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 0.25rem;
    margin-right: 2rem;
}

.base-layers-choices i {
    color: grey;
    width: 20px;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none;
    background-clip: inherit;
}

.leaflet-control-layers-overlays,
.leaflet-control-layers-base {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.leaflet-control-layers-base {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 0.7rem;
}

.leaflet-control-layers-base label:hover,
.leaflet-control-layers-overlays label:hover {
    cursor: pointer;

    i,
    p {
        color: #3498db;
    }
}

.leaflet-top.leaflet-right {
    top: 50%;
    width: 310px;
    left: 5px;
    border-radius: .25rem;
}

#wind-velocity-menu .leaflet-control {
    width: 310px !important;
}

.leaflet-control-layers-base label,
.leaflet-control-layers-overlays label {
    width: 100%;
}

.leaflet-control-layers-selector {
    visibility: hidden;
}

.leaflet-control-velocity {
    padding: 6px 8px;
    font-family: 'Chivo';
    background: transparent;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    color: #727272;
    width: 100%;
}

.leaflet-control-layers-separator {
    display: none;
}

#dropdown-leaver {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 24px;
        height: 24px;
    }

    g path {
        fill: #727272;
    }
}

.leaflet-left {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    position: relative;
}

.leaflet-control-layers-list {
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
}

.leaflet-left .leaflet-control {
    margin-top: 0;
    z-index: 1099;
    padding-top: 0;
    border-radius: 0px !important;
    position: relative;
    width: 320px !important;
}

.leaflet-control-velocity.leaflet-control {
    border-radius: .25rem !important;
    padding-top: 6px;
}

.leaflet-top .leaflet-control {
    margin-left: 0;
}

#map-home-link {
    position: absolute;
    bottom: 20px;
    left: auto;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toggle-control-map {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 56px;
    background: #444444;
    z-index: 1000;
    padding: 12px 8px;
    box-shadow: 0 0.125rem 0.25rem #666666 !important;

    div i {
        color: #fff;
        font-size: 150%;
    }

    #toggle-search {
        padding: 8px;
        width: 40px;
        height: 40px;
        margin-bottom: 24px;
        font-size: 80%;
        color: #fff;
        border-radius: 50%;
    }
}

#toggle-accueil {
    padding: 8px;
    width: 40px;
    height: 40px;
    margin-bottom: 24px;
    font-size: 80%;
    color: #fff;
    border-radius: 50%;
}


path {
    fill: #fff;
}

#toggle-btn-control-menu {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-bottom: 24px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 24px;
        height: 24px;
    }

    div span {
        width: 18px;
        height: 2px;
        background-color: #fff;
        margin: 1px 0;
    }

    div span:nth-child(1) {
        top: 0px;
    }

    div span:nth-child(2) {
        top: 10px;
    }

    div span:nth-child(3) {
        top: 24px;
    }
}

.active-radio {

    div i,
    p {
        color: #2979ff;
    }
}

#toggle-btn-control-menu:hover,
#toggle-search:hover,
#toggle-accueil:hover {
    cursor: pointer;
    background-color: rgb(102, 102, 102);
}

#dropdown-leaver:hover {
    cursor: pointer;
    background-color: #dbdbdb;
}

.nav-link.active {
    font-weight: bolder;
}

.nav-link {
    color: #495057;
}

.modal-body {
    animation: fadeIn 600ms cubic-bezier(.57, .25, .65, 1) 1 forwards;
    opacity: 0;
    max-width: 640px;
    width: 100%;
}

.modal-dialog,
.modal-body {
    max-width: 750px !important;
}

.line {
    stroke: #fff;
}

.chartjs-render-monitor {
    max-width: 600px !important;
    max-height: 600px !important;
}

.control-menu-text-content {
    margin: 0;
}

.spinner-border {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 5rem;
    width: 5rem;
    margin-left: -60px;
    margin-top: -60px;
    border: 0.33rem solid #363636;
    border-right-color: transparent;
}

#wind-control-menu {
    color: #363636;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbdbdb;
    border-radius: 0.25rem;
    font-family: 'Chivo';
    font-size: 150%;
    padding: 0.25rem;
    margin: 0 2rem;
}

#wind-velocity-menu {
    border: 1px solid #dbdbdb;
}

.wind-text-content {
    margin: 0;
    font-family: 'Chivo';
    color: #363636;
    font-size: 110%;
}

.strong-wind {
    color: #363636;
    margin: 0
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


#search-results {
    position: fixed;
    top: 0;
    left: 56px;
    width: 400px;
    height: 100vh;
    background-color: #eceff1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1100;
    box-shadow: 0 0.125rem 0.25rem #666666 !important;

    div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #fff;
        height: 64px;
        border: 1px solid #dbdbdb;
        border-top: none;

        input {
            background-color: transparent;
            border: none;
            height: 24px;
            width: 70%;
            outline: none;
            color: #727272;
        }

        button {
            width: 48px;
            height: 48px;
            padding: 0;
            display: flex;
            border: none;
            background-color: transparent;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #dbdbdb;
            i {
                color: #727272;
                margin: 0px 8px;
            }
        }

        #search-leaver {
            position: static;
            border: none;
            width: 48px;
            height: 48px;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 24px;
                height: 24px;
            }

            g path {
                fill: #727272;
            }
        }
    }




}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 1200px) {

    // .leaflet-top.leaflet-right
    // {
    //     top: 0;
    //     left: 55px;
    // }
    // .control-menu-text-content {
    //     display: none;
    // }

    .leaflet-control-container .leaflet-top .leaflet-control-layers-expanded {
        width: 230px !important;
        padding: 0;
    }

    .leaflet-top.leaflet-right {
        width: 220px;
    }

    #wind-velocity-menu .leaflet-control {
        width: 220px !important;
    }

    // .base-layers-choices {
    //     margin-left: 0;
    //     padding-right: 0;
    //     margin-left: 6px;
    // }

    // #control-menu-logo {
    //     content: url('../../public/images/logo/logo_menu_control.png');
    //     width: 100% !important;
    //     padding: 2rem 0 2rem 0;
    // }

    // #toggle-control-map
    // {
    //     padding: 0.25rem;
    // }

    // #toggle-btn-control-menu
    // {
    //     margin-left: 0;
    // }

}

@media (max-width: 750px) {

    .modal-dialog,
    .modal-body {
        max-width: 100% !important;
    }

    .charts-legend {
        display: none;
    }


}

@media (max-width: 500px) {}