{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}

<h1 style="width:100%;text-align:center;padding-top: 75px;color:#fff">Contact</h1>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12">
            <div id="block-views-offices-list-block" class="block block-views">
    
                <h2>Les établissements</h2>
    
                <div class="content">
                    <div
                        class="view view-offices-list view-id-offices_list view-display-id-block view-dom-id-1f73d4612e9a51b447a3b27d505a17d2">
    
    
    
                        <div class="view-content">
                            <div class="views-row views-row-1 views-row-odd views-row-first">
                                <h3>Siège social</h3>
                                <div class="contact-address">
                                    <div
                                        class="field field-name-field-office-address field-type-text-long field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <p>146&nbsp;rue Paradis&nbsp;<br>
                                                    Bât.&nbsp;"Le Noilly Paradis"<br>
                                                    13294 Marseille<br>
                                                    Cedex 06</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-phone-access">
                                    <div class="field field-name-field-office-phone field-type-text field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">+33 4 91 32 38 00</div>
                                        </div>
                                    </div>
                                    <div
                                        class="field field-name-field-office-access field-type-link-field field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even"><a
                                                    href="https://www.google.fr/maps/place/Air+PACA/@43.286482,5.379642,17z/data=!4m2!3m1!1s0x12c9c0b114de0843:0xcc2d79de3b33a743?hl=fr"
                                                    target="_blank" class="ext" rel="noopener noreferrer">Plan d'accès<span
                                                        class="ext" aria-label="(le lien est externe)"></span></a></div>
                                        </div>
                                    </div>
                                    <div
                                        class="field field-name-field-how-to-come field-type-link-field field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even"><a
                                                    href="https://www.atmosud.org/publications/venir-atmosud-marseille">Comment
                                                    venir</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="views-row views-row-2 views-row-even">
                                <h3>Etablissement de Martigues</h3>
                                <div class="contact-address">
                                    <div
                                        class="field field-name-field-office-address field-type-text-long field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <p>Route de la Vierge<br>
                                                    13500 Martigues</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-phone-access">
                                    <div class="field field-name-field-office-phone field-type-text field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">+33 4 91 32 38 00</div>
                                        </div>
                                    </div>
                                    <div
                                        class="field field-name-field-office-access field-type-link-field field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even"><a
                                                    href="https://www.google.fr/maps/place/Air+PACA/@43.416971,5.043678,17z/data=!3m1!4b1!4m2!3m1!1s0x12b61e36b74a5261:0x635c3bc6599244c3?hl=fr"
                                                    target="_blank" class="ext" rel="noopener noreferrer">Plan d'accès<span
                                                        class="ext" aria-label="(le lien est externe)"></span></a></div>
                                        </div>
                                    </div>
                                    <div
                                        class="field field-name-field-how-to-come field-type-link-field field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even"><a
                                                    href="https://www.atmosud.org/sites/paca/files/atoms/files/venir_atmosud_martigues.pdf">Comment
                                                    venir</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="views-row views-row-3 views-row-odd views-row-last">
                                <h3> Etablissement de Nice</h3>
                                <div class="contact-address">
                                    <div
                                        class="field field-name-field-office-address field-type-text-long field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">
                                                <p>37&nbsp;bis avenue Henri Matisse<br>
                                                    06200 Nice</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-phone-access">
                                    <div class="field field-name-field-office-phone field-type-text field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">+33 4 91 32 38 00 </div>
                                        </div>
                                    </div>
                                    <div
                                        class="field field-name-field-office-access field-type-link-field field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even"><a
                                                    href="https://www.google.fr/maps/place/Air+PACA/@43.675234,7.228353,17z/data=!3m1!4b1!4m2!3m1!1s0x12cdd056479d8757:0x6e97ecbceae990f8?hl=fr"
                                                    target="_blank" class="ext" rel="noopener noreferrer">Plan d'accès<span
                                                        class="ext" aria-label="(le lien est externe)"></span></a></div>
                                        </div>
                                    </div>
                                    <div
                                        class="field field-name-field-how-to-come field-type-link-field field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even"><a
                                                    href="https://www.atmosud.org/sites/paca/files/atoms/files/venir_atmosud_nice.pdf">Comment
                                                    venir</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
    
    
    
    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12">
    
        </div>
    </div>
</div>
<style>
    body {
        background-image: linear-gradient(to bottom, #6bba62, #52ae6b, #3ea272, #2f9576, #2a8776, #248078, #247979, #287177, #266e7b, #296b7e, #306780, #386380);
        color: #fff;
    }
</style>

{% endblock %}


{% block javascripts %}
{{ parent() }}

{{ encore_entry_script_tags('home') }}
{% endblock %}