{% extends 'base.html.twig' %}



  {% block body %}
  
  <div id="diams-port-container" class="d-flex justify-content-center align-items-stretch" style="position: relative; top: 0px;">
      
      <img id="animation-logo" src="images/boat.png">
  
          <img id="diams-port-img" src="images/harbor.jpg" class="rounded-left shadow-lg">
  
      <div id="diams-port" class="rounded mb-0">
  
          <h1>DIAMS PORT</h1>
  
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vulputate purus non enim sagittis convallis eu a risus. Aliquam dignissim magna sit amet urna facilisis dignissim. 
              <br>Duis tincidunt condimentum diam, in condimentum urna scelerisque sit amet. Ut in lectus ultricies, porta eros at, imperdiet dolor. Aenean egestas, dui eu fringilla rhoncus, justo quam gravida augue, eu pretium orci dolor vitae eros. Phasellus porta gravida arcu et pretium. 
              <br>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              <br>Vestibulum egestas felis non tortor vestibulum, nec convallis quam feugiat. Sed vitae lacus justo. Vestibulum quis faucibus felis, eu vehicula est. 
                  Mauris vitae hendrerit purus, ac varius nulla. Vestibulum consectetur eget metus eget tincidunt.
          </p>
  
      </div>
  
  </div>
  
  <!-- Card group -->
  <div id="cards-container" class="d-flex flex-wrap align-items-center justify-content-around not-loaded">
  
    <!-- Card -->
    <div class="card w-25">
  
      <!-- Card image -->
      <div class="view overlay w-100 p-5 d-flex justify-content-center align-items-center">
        <img src="images/cardBoat.png" alt="Card image cap" width="256px">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!-- Card content -->
      <div class="card-body">
  
        <!-- Title -->
        <h4 class="card-title">Card title</h4>
        <!-- Text -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        
  
      </div>
      <!-- Card content -->
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card w-25">
  
      <!-- Card image -->
      <div class="view overlay d-flex justify-content-center align-items-center">
        <img src="images/factory.png" alt="Card image cap" width="70%">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">Card title</h4>
        <!-- Text -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  
  
      </div>
      <!-- Card content -->
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card w-25">
  
      <!-- Card image -->
       <div class="view overlay p-5 d-flex justify-content-center align-items-center">
        <img src="images/map.png" alt="Card image cap" width="256px">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
  
      <!-- Card content -->
      <div class="card-body">
  
        <!-- Title -->
        <h4 class="card-title">Card title</h4>
        <!-- Text -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
  
      </div>
      <!-- Card content -->
  
    </div>
    <!-- Card -->
  
  </div>
  
  
  {% endblock %}


