{% extends 'base.html.twig' %}



{% block body %}
      
    <div id="diams-port-container" class="d-flex justify-content-center align-items-stretch">
        <img src="images/logo/twitter_header_photo_2.png">  
    </div>


    <div id="cards-absolute" class="d-flex justify-content-around align-items-center">
          <div class="cards-background"><img src="images/cardBoat.png" alt="Card image cap" width="256px" height="256px"></div>
          <div class="cards-background"><img src="images/factory.png" alt="Card image cap" width="256px" height="256px"></div>
          <div class="cards-background"><img src="images/maps.png" alt="Card image cap" width="256px" height="256px"></div>
    </div>

    <div id="cards-container" class="w-100 d-flex flex-column align-items-center justify-content-center">
      <h1> Bienvenue sur Smart Port Air </h1>
      
      <div id="welcome-buttons" class="w-100 d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-outline-grey">Inscription</button>
        <button type="button" class="btn btn-outline-grey">Connexion</button>
      </div>
    </div>
  
  
{% endblock %}


