{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}

    {# <div id="maps-container" class="d-flex flex-wrap justify-content-center align-items-center p-3">
        <div id="map"></div>
    </div> 
    
    <div id="modals-container">
    </div> #}
    <smartport-map id="map"></smartport-map>
    
    <div id="modals-container">
    </div> 


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <script src="cdn/js/jquery-3.4.1.min.js"></script>
    {{ encore_entry_script_tags('map') }}
 {% endblock %}