{% extends 'base.html.twig' %}


{% block body %}

<div id="personnal-infos-container" class="profil-infos d-flex flex-column align-items-center w-25 p-3" style="margin-top:75px;">

    <div style="min-height: 50px;" class="d-flex flex-wrap justify-content-between align-items-center w-100">
        <h5 class="profil-h2-brand w-100" style="text-align:center;color:#fff;margin:0;">Mon compte :</h5>
        <a tabindex="1" class="btn btn-warning mb-3 mt-3" href="/edition" style="color:#fff;"><i class="fas fa-edit mr-2"></i>Modifier</a>
        <a tabindex="2" href="/logout" class="btn btn-danger mb-3 mt-3" style="color: #fff"><i class="fas fa-sign-out-alt mr-2"></i> Déconnexion</a>
    </div>

    <ul class="list-group w-100">
        <li class="list-group-item">
            <div class="md-v-line"></div><i class="fas fa-user mr-4"></i>{{ username }}
        </li>
        <li class="list-group-item">
            <div class="md-v-line"></div><i class="fas fa-envelope mr-4"></i>{{ email }}
        </li>
    </ul>

</div>

{% endblock %}